	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:41
    http://www.flaticon.com/packs/dialogue-set
    http://www.flaticon.com/packs/essential-set-2
    http://www.flaticon.com/packs/pins-and-locations-2
    http://www.flaticon.com/packs/constructions
  	*/


@font-face {
  font-family: "FlaticonEssential";
  src: url("/fonts/essential-set/font/Flaticon.eot");
  src: url("/fonts/essential-set/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/essential-set/font/Flaticon.woff") format("woff"),
       url("/fonts/essential-set/font/Flaticon.ttf") format("truetype"),
       url("/fonts/essential-set/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="flaticon-essential-"]:before, [class*=" flaticon-essential-"]:before,
[class^="flaticon-essential-"]:after, [class*=" flaticon-essential-"]:after {   
  font-family: FlaticonEssential;
font-style: normal;
}


.flaticon-essential-add:before { content: "\f100"; }
.flaticon-essential-add-1:before { content: "\f101"; }
.flaticon-essential-add-2:before { content: "\f102"; }
.flaticon-essential-add-3:before { content: "\f103"; }
.flaticon-essential-agenda:before { content: "\f104"; }
.flaticon-essential-alarm:before { content: "\f105"; }
.flaticon-essential-alarm-1:before { content: "\f106"; }
.flaticon-essential-alarm-clock:before { content: "\f107"; }
.flaticon-essential-alarm-clock-1:before { content: "\f108"; }
.flaticon-essential-albums:before { content: "\f109"; }
.flaticon-essential-app:before { content: "\f10a"; }
.flaticon-essential-archive:before { content: "\f10b"; }
.flaticon-essential-archive-1:before { content: "\f10c"; }
.flaticon-essential-archive-2:before { content: "\f10d"; }
.flaticon-essential-archive-3:before { content: "\f10e"; }
.flaticon-essential-attachment:before { content: "\f10f"; }
.flaticon-essential-back:before { content: "\f110"; }
.flaticon-essential-battery:before { content: "\f111"; }
.flaticon-essential-battery-1:before { content: "\f112"; }
.flaticon-essential-battery-2:before { content: "\f113"; }
.flaticon-essential-battery-3:before { content: "\f114"; }
.flaticon-essential-battery-4:before { content: "\f115"; }
.flaticon-essential-battery-5:before { content: "\f116"; }
.flaticon-essential-battery-6:before { content: "\f117"; }
.flaticon-essential-battery-7:before { content: "\f118"; }
.flaticon-essential-battery-8:before { content: "\f119"; }
.flaticon-essential-battery-9:before { content: "\f11a"; }
.flaticon-essential-binoculars:before { content: "\f11b"; }
.flaticon-essential-blueprint:before { content: "\f11c"; }
.flaticon-essential-bluetooth:before { content: "\f11d"; }
.flaticon-essential-bluetooth-1:before { content: "\f11e"; }
.flaticon-essential-bookmark:before { content: "\f11f"; }
.flaticon-essential-bookmark-1:before { content: "\f120"; }
.flaticon-essential-briefcase:before { content: "\f121"; }
.flaticon-essential-broken-link:before { content: "\f122"; }
.flaticon-essential-calculator:before { content: "\f123"; }
.flaticon-essential-calculator-1:before { content: "\f124"; }
.flaticon-essential-calendar:before { content: "\f125"; }
.flaticon-essential-calendar-1:before { content: "\f126"; }
.flaticon-essential-calendar-2:before { content: "\f127"; }
.flaticon-essential-calendar-3:before { content: "\f128"; }
.flaticon-essential-calendar-4:before { content: "\f129"; }
.flaticon-essential-calendar-5:before { content: "\f12a"; }
.flaticon-essential-calendar-6:before { content: "\f12b"; }
.flaticon-essential-calendar-7:before { content: "\f12c"; }
.flaticon-essential-checked:before { content: "\f12d"; }
.flaticon-essential-checked-1:before { content: "\f12e"; }
.flaticon-essential-clock:before { content: "\f12f"; }
.flaticon-essential-clock-1:before { content: "\f130"; }
.flaticon-essential-close:before { content: "\f131"; }
.flaticon-essential-cloud:before { content: "\f132"; }
.flaticon-essential-cloud-computing:before { content: "\f133"; }
.flaticon-essential-cloud-computing-1:before { content: "\f134"; }
.flaticon-essential-cloud-computing-2:before { content: "\f135"; }
.flaticon-essential-cloud-computing-3:before { content: "\f136"; }
.flaticon-essential-cloud-computing-4:before { content: "\f137"; }
.flaticon-essential-cloud-computing-5:before { content: "\f138"; }
.flaticon-essential-command:before { content: "\f139"; }
.flaticon-essential-compact-disc:before { content: "\f13a"; }
.flaticon-essential-compact-disc-1:before { content: "\f13b"; }
.flaticon-essential-compact-disc-2:before { content: "\f13c"; }
.flaticon-essential-compass:before { content: "\f13d"; }
.flaticon-essential-compose:before { content: "\f13e"; }
.flaticon-essential-controls:before { content: "\f13f"; }
.flaticon-essential-controls-1:before { content: "\f140"; }
.flaticon-essential-controls-2:before { content: "\f141"; }
.flaticon-essential-controls-3:before { content: "\f142"; }
.flaticon-essential-controls-4:before { content: "\f143"; }
.flaticon-essential-controls-5:before { content: "\f144"; }
.flaticon-essential-controls-6:before { content: "\f145"; }
.flaticon-essential-controls-7:before { content: "\f146"; }
.flaticon-essential-controls-8:before { content: "\f147"; }
.flaticon-essential-controls-9:before { content: "\f148"; }
.flaticon-essential-database:before { content: "\f149"; }
.flaticon-essential-database-1:before { content: "\f14a"; }
.flaticon-essential-database-2:before { content: "\f14b"; }
.flaticon-essential-database-3:before { content: "\f14c"; }
.flaticon-essential-diamond:before { content: "\f14d"; }
.flaticon-essential-diploma:before { content: "\f14e"; }
.flaticon-essential-dislike:before { content: "\f14f"; }
.flaticon-essential-dislike-1:before { content: "\f150"; }
.flaticon-essential-divide:before { content: "\f151"; }
.flaticon-essential-divide-1:before { content: "\f152"; }
.flaticon-essential-division:before { content: "\f153"; }
.flaticon-essential-document:before { content: "\f154"; }
.flaticon-essential-download:before { content: "\f155"; }
.flaticon-essential-edit:before { content: "\f156"; }
.flaticon-essential-edit-1:before { content: "\f157"; }
.flaticon-essential-eject:before { content: "\f158"; }
.flaticon-essential-eject-1:before { content: "\f159"; }
.flaticon-essential-equal:before { content: "\f15a"; }
.flaticon-essential-equal-1:before { content: "\f15b"; }
.flaticon-essential-equal-2:before { content: "\f15c"; }
.flaticon-essential-error:before { content: "\f15d"; }
.flaticon-essential-exit:before { content: "\f15e"; }
.flaticon-essential-exit-1:before { content: "\f15f"; }
.flaticon-essential-exit-2:before { content: "\f160"; }
.flaticon-essential-eyeglasses:before { content: "\f161"; }
.flaticon-essential-fast-forward:before { content: "\f162"; }
.flaticon-essential-fast-forward-1:before { content: "\f163"; }
.flaticon-essential-fax:before { content: "\f164"; }
.flaticon-essential-file:before { content: "\f165"; }
.flaticon-essential-file-1:before { content: "\f166"; }
.flaticon-essential-file-2:before { content: "\f167"; }
.flaticon-essential-film:before { content: "\f168"; }
.flaticon-essential-fingerprint:before { content: "\f169"; }
.flaticon-essential-flag:before { content: "\f16a"; }
.flaticon-essential-flag-1:before { content: "\f16b"; }
.flaticon-essential-flag-2:before { content: "\f16c"; }
.flaticon-essential-flag-3:before { content: "\f16d"; }
.flaticon-essential-flag-4:before { content: "\f16e"; }
.flaticon-essential-focus:before { content: "\f16f"; }
.flaticon-essential-folder:before { content: "\f170"; }
.flaticon-essential-folder-1:before { content: "\f171"; }
.flaticon-essential-folder-10:before { content: "\f172"; }
.flaticon-essential-folder-11:before { content: "\f173"; }
.flaticon-essential-folder-12:before { content: "\f174"; }
.flaticon-essential-folder-13:before { content: "\f175"; }
.flaticon-essential-folder-14:before { content: "\f176"; }
.flaticon-essential-folder-15:before { content: "\f177"; }
.flaticon-essential-folder-16:before { content: "\f178"; }
.flaticon-essential-folder-17:before { content: "\f179"; }
.flaticon-essential-folder-18:before { content: "\f17a"; }
.flaticon-essential-folder-19:before { content: "\f17b"; }
.flaticon-essential-folder-2:before { content: "\f17c"; }
.flaticon-essential-folder-3:before { content: "\f17d"; }
.flaticon-essential-folder-4:before { content: "\f17e"; }
.flaticon-essential-folder-5:before { content: "\f17f"; }
.flaticon-essential-folder-6:before { content: "\f180"; }
.flaticon-essential-folder-7:before { content: "\f181"; }
.flaticon-essential-folder-8:before { content: "\f182"; }
.flaticon-essential-folder-9:before { content: "\f183"; }
.flaticon-essential-forbidden:before { content: "\f184"; }
.flaticon-essential-funnel:before { content: "\f185"; }
.flaticon-essential-garbage:before { content: "\f186"; }
.flaticon-essential-garbage-1:before { content: "\f187"; }
.flaticon-essential-garbage-2:before { content: "\f188"; }
.flaticon-essential-gift:before { content: "\f189"; }
.flaticon-essential-help:before { content: "\f18a"; }
.flaticon-essential-hide:before { content: "\f18b"; }
.flaticon-essential-hold:before { content: "\f18c"; }
.flaticon-essential-home:before { content: "\f18d"; }
.flaticon-essential-home-1:before { content: "\f18e"; }
.flaticon-essential-home-2:before { content: "\f18f"; }
.flaticon-essential-hourglass:before { content: "\f190"; }
.flaticon-essential-hourglass-1:before { content: "\f191"; }
.flaticon-essential-hourglass-2:before { content: "\f192"; }
.flaticon-essential-hourglass-3:before { content: "\f193"; }
.flaticon-essential-house:before { content: "\f194"; }
.flaticon-essential-id-card:before { content: "\f195"; }
.flaticon-essential-id-card-1:before { content: "\f196"; }
.flaticon-essential-id-card-2:before { content: "\f197"; }
.flaticon-essential-id-card-3:before { content: "\f198"; }
.flaticon-essential-id-card-4:before { content: "\f199"; }
.flaticon-essential-id-card-5:before { content: "\f19a"; }
.flaticon-essential-idea:before { content: "\f19b"; }
.flaticon-essential-incoming:before { content: "\f19c"; }
.flaticon-essential-infinity:before { content: "\f19d"; }
.flaticon-essential-info:before { content: "\f19e"; }
.flaticon-essential-internet:before { content: "\f19f"; }
.flaticon-essential-key:before { content: "\f1a0"; }
.flaticon-essential-lamp:before { content: "\f1a1"; }
.flaticon-essential-layers:before { content: "\f1a2"; }
.flaticon-essential-layers-1:before { content: "\f1a3"; }
.flaticon-essential-like:before { content: "\f1a4"; }
.flaticon-essential-like-1:before { content: "\f1a5"; }
.flaticon-essential-like-2:before { content: "\f1a6"; }
.flaticon-essential-link:before { content: "\f1a7"; }
.flaticon-essential-list:before { content: "\f1a8"; }
.flaticon-essential-list-1:before { content: "\f1a9"; }
.flaticon-essential-lock:before { content: "\f1aa"; }
.flaticon-essential-lock-1:before { content: "\f1ab"; }
.flaticon-essential-locked:before { content: "\f1ac"; }
.flaticon-essential-locked-1:before { content: "\f1ad"; }
.flaticon-essential-locked-2:before { content: "\f1ae"; }
.flaticon-essential-locked-3:before { content: "\f1af"; }
.flaticon-essential-locked-4:before { content: "\f1b0"; }
.flaticon-essential-locked-5:before { content: "\f1b1"; }
.flaticon-essential-locked-6:before { content: "\f1b2"; }
.flaticon-essential-login:before { content: "\f1b3"; }
.flaticon-essential-magic-wand:before { content: "\f1b4"; }
.flaticon-essential-magnet:before { content: "\f1b5"; }
.flaticon-essential-magnet-1:before { content: "\f1b6"; }
.flaticon-essential-magnet-2:before { content: "\f1b7"; }
.flaticon-essential-map:before { content: "\f1b8"; }
.flaticon-essential-map-1:before { content: "\f1b9"; }
.flaticon-essential-map-2:before { content: "\f1ba"; }
.flaticon-essential-map-location:before { content: "\f1bb"; }
.flaticon-essential-megaphone:before { content: "\f1bc"; }
.flaticon-essential-megaphone-1:before { content: "\f1bd"; }
.flaticon-essential-menu:before { content: "\f1be"; }
.flaticon-essential-menu-1:before { content: "\f1bf"; }
.flaticon-essential-menu-2:before { content: "\f1c0"; }
.flaticon-essential-menu-3:before { content: "\f1c1"; }
.flaticon-essential-menu-4:before { content: "\f1c2"; }
.flaticon-essential-microphone:before { content: "\f1c3"; }
.flaticon-essential-microphone-1:before { content: "\f1c4"; }
.flaticon-essential-minus:before { content: "\f1c5"; }
.flaticon-essential-minus-1:before { content: "\f1c6"; }
.flaticon-essential-more:before { content: "\f1c7"; }
.flaticon-essential-more-1:before { content: "\f1c8"; }
.flaticon-essential-more-2:before { content: "\f1c9"; }
.flaticon-essential-multiply:before { content: "\f1ca"; }
.flaticon-essential-multiply-1:before { content: "\f1cb"; }
.flaticon-essential-music-player:before { content: "\f1cc"; }
.flaticon-essential-music-player-1:before { content: "\f1cd"; }
.flaticon-essential-music-player-2:before { content: "\f1ce"; }
.flaticon-essential-music-player-3:before { content: "\f1cf"; }
.flaticon-essential-mute:before { content: "\f1d0"; }
.flaticon-essential-muted:before { content: "\f1d1"; }
.flaticon-essential-navigation:before { content: "\f1d2"; }
.flaticon-essential-navigation-1:before { content: "\f1d3"; }
.flaticon-essential-network:before { content: "\f1d4"; }
.flaticon-essential-newspaper:before { content: "\f1d5"; }
.flaticon-essential-next:before { content: "\f1d6"; }
.flaticon-essential-note:before { content: "\f1d7"; }
.flaticon-essential-notebook:before { content: "\f1d8"; }
.flaticon-essential-notebook-1:before { content: "\f1d9"; }
.flaticon-essential-notebook-2:before { content: "\f1da"; }
.flaticon-essential-notebook-3:before { content: "\f1db"; }
.flaticon-essential-notebook-4:before { content: "\f1dc"; }
.flaticon-essential-notebook-5:before { content: "\f1dd"; }
.flaticon-essential-notepad:before { content: "\f1de"; }
.flaticon-essential-notepad-1:before { content: "\f1df"; }
.flaticon-essential-notepad-2:before { content: "\f1e0"; }
.flaticon-essential-notification:before { content: "\f1e1"; }
.flaticon-essential-paper-plane:before { content: "\f1e2"; }
.flaticon-essential-paper-plane-1:before { content: "\f1e3"; }
.flaticon-essential-pause:before { content: "\f1e4"; }
.flaticon-essential-pause-1:before { content: "\f1e5"; }
.flaticon-essential-percent:before { content: "\f1e6"; }
.flaticon-essential-percent-1:before { content: "\f1e7"; }
.flaticon-essential-perspective:before { content: "\f1e8"; }
.flaticon-essential-photo-camera:before { content: "\f1e9"; }
.flaticon-essential-photo-camera-1:before { content: "\f1ea"; }
.flaticon-essential-photos:before { content: "\f1eb"; }
.flaticon-essential-picture:before { content: "\f1ec"; }
.flaticon-essential-picture-1:before { content: "\f1ed"; }
.flaticon-essential-picture-2:before { content: "\f1ee"; }
.flaticon-essential-pin:before { content: "\f1ef"; }
.flaticon-essential-placeholder:before { content: "\f1f0"; }
.flaticon-essential-placeholder-1:before { content: "\f1f1"; }
.flaticon-essential-placeholder-2:before { content: "\f1f2"; }
.flaticon-essential-placeholder-3:before { content: "\f1f3"; }
.flaticon-essential-placeholders:before { content: "\f1f4"; }
.flaticon-essential-play-button:before { content: "\f1f5"; }
.flaticon-essential-play-button-1:before { content: "\f1f6"; }
.flaticon-essential-plus:before { content: "\f1f7"; }
.flaticon-essential-power:before { content: "\f1f8"; }
.flaticon-essential-previous:before { content: "\f1f9"; }
.flaticon-essential-price-tag:before { content: "\f1fa"; }
.flaticon-essential-print:before { content: "\f1fb"; }
.flaticon-essential-push-pin:before { content: "\f1fc"; }
.flaticon-essential-radar:before { content: "\f1fd"; }
.flaticon-essential-reading:before { content: "\f1fe"; }
.flaticon-essential-record:before { content: "\f1ff"; }
.flaticon-essential-repeat:before { content: "\f200"; }
.flaticon-essential-repeat-1:before { content: "\f201"; }
.flaticon-essential-restart:before { content: "\f202"; }
.flaticon-essential-resume:before { content: "\f203"; }
.flaticon-essential-rewind:before { content: "\f204"; }
.flaticon-essential-rewind-1:before { content: "\f205"; }
.flaticon-essential-route:before { content: "\f206"; }
.flaticon-essential-save:before { content: "\f207"; }
.flaticon-essential-search:before { content: "\f208"; }
.flaticon-essential-search-1:before { content: "\f209"; }
.flaticon-essential-send:before { content: "\f20a"; }
.flaticon-essential-server:before { content: "\f20b"; }
.flaticon-essential-server-1:before { content: "\f20c"; }
.flaticon-essential-server-2:before { content: "\f20d"; }
.flaticon-essential-server-3:before { content: "\f20e"; }
.flaticon-essential-settings:before { content: "\f20f"; }
.flaticon-essential-settings-1:before { content: "\f210"; }
.flaticon-essential-settings-2:before { content: "\f211"; }
.flaticon-essential-settings-3:before { content: "\f212"; }
.flaticon-essential-settings-4:before { content: "\f213"; }
.flaticon-essential-settings-5:before { content: "\f214"; }
.flaticon-essential-settings-6:before { content: "\f215"; }
.flaticon-essential-settings-7:before { content: "\f216"; }
.flaticon-essential-settings-8:before { content: "\f217"; }
.flaticon-essential-settings-9:before { content: "\f218"; }
.flaticon-essential-share:before { content: "\f219"; }
.flaticon-essential-share-1:before { content: "\f21a"; }
.flaticon-essential-share-2:before { content: "\f21b"; }
.flaticon-essential-shuffle:before { content: "\f21c"; }
.flaticon-essential-shuffle-1:before { content: "\f21d"; }
.flaticon-essential-shutdown:before { content: "\f21e"; }
.flaticon-essential-sign:before { content: "\f21f"; }
.flaticon-essential-sign-1:before { content: "\f220"; }
.flaticon-essential-skip:before { content: "\f221"; }
.flaticon-essential-smartphone:before { content: "\f222"; }
.flaticon-essential-smartphone-1:before { content: "\f223"; }
.flaticon-essential-smartphone-10:before { content: "\f224"; }
.flaticon-essential-smartphone-11:before { content: "\f225"; }
.flaticon-essential-smartphone-2:before { content: "\f226"; }
.flaticon-essential-smartphone-3:before { content: "\f227"; }
.flaticon-essential-smartphone-4:before { content: "\f228"; }
.flaticon-essential-smartphone-5:before { content: "\f229"; }
.flaticon-essential-smartphone-6:before { content: "\f22a"; }
.flaticon-essential-smartphone-7:before { content: "\f22b"; }
.flaticon-essential-smartphone-8:before { content: "\f22c"; }
.flaticon-essential-smartphone-9:before { content: "\f22d"; }
.flaticon-essential-speaker:before { content: "\f22e"; }
.flaticon-essential-speaker-1:before { content: "\f22f"; }
.flaticon-essential-speaker-2:before { content: "\f230"; }
.flaticon-essential-speaker-3:before { content: "\f231"; }
.flaticon-essential-speaker-4:before { content: "\f232"; }
.flaticon-essential-speaker-5:before { content: "\f233"; }
.flaticon-essential-speaker-6:before { content: "\f234"; }
.flaticon-essential-speaker-7:before { content: "\f235"; }
.flaticon-essential-speaker-8:before { content: "\f236"; }
.flaticon-essential-spotlight:before { content: "\f237"; }
.flaticon-essential-star:before { content: "\f238"; }
.flaticon-essential-star-1:before { content: "\f239"; }
.flaticon-essential-stop:before { content: "\f23a"; }
.flaticon-essential-stop-1:before { content: "\f23b"; }
.flaticon-essential-stopwatch:before { content: "\f23c"; }
.flaticon-essential-stopwatch-1:before { content: "\f23d"; }
.flaticon-essential-stopwatch-2:before { content: "\f23e"; }
.flaticon-essential-stopwatch-3:before { content: "\f23f"; }
.flaticon-essential-stopwatch-4:before { content: "\f240"; }
.flaticon-essential-street:before { content: "\f241"; }
.flaticon-essential-street-1:before { content: "\f242"; }
.flaticon-essential-substract:before { content: "\f243"; }
.flaticon-essential-substract-1:before { content: "\f244"; }
.flaticon-essential-success:before { content: "\f245"; }
.flaticon-essential-switch:before { content: "\f246"; }
.flaticon-essential-switch-1:before { content: "\f247"; }
.flaticon-essential-switch-2:before { content: "\f248"; }
.flaticon-essential-switch-3:before { content: "\f249"; }
.flaticon-essential-switch-4:before { content: "\f24a"; }
.flaticon-essential-switch-5:before { content: "\f24b"; }
.flaticon-essential-switch-6:before { content: "\f24c"; }
.flaticon-essential-switch-7:before { content: "\f24d"; }
.flaticon-essential-tabs:before { content: "\f24e"; }
.flaticon-essential-tabs-1:before { content: "\f24f"; }
.flaticon-essential-target:before { content: "\f250"; }
.flaticon-essential-television:before { content: "\f251"; }
.flaticon-essential-television-1:before { content: "\f252"; }
.flaticon-essential-time:before { content: "\f253"; }
.flaticon-essential-trash:before { content: "\f254"; }
.flaticon-essential-umbrella:before { content: "\f255"; }
.flaticon-essential-unlink:before { content: "\f256"; }
.flaticon-essential-unlocked:before { content: "\f257"; }
.flaticon-essential-unlocked-1:before { content: "\f258"; }
.flaticon-essential-unlocked-2:before { content: "\f259"; }
.flaticon-essential-upload:before { content: "\f25a"; }
.flaticon-essential-user:before { content: "\f25b"; }
.flaticon-essential-user-1:before { content: "\f25c"; }
.flaticon-essential-user-2:before { content: "\f25d"; }
.flaticon-essential-user-3:before { content: "\f25e"; }
.flaticon-essential-user-4:before { content: "\f25f"; }
.flaticon-essential-user-5:before { content: "\f260"; }
.flaticon-essential-user-6:before { content: "\f261"; }
.flaticon-essential-user-7:before { content: "\f262"; }
.flaticon-essential-users:before { content: "\f263"; }
.flaticon-essential-users-1:before { content: "\f264"; }
.flaticon-essential-video-camera:before { content: "\f265"; }
.flaticon-essential-video-camera-1:before { content: "\f266"; }
.flaticon-essential-video-player:before { content: "\f267"; }
.flaticon-essential-video-player-1:before { content: "\f268"; }
.flaticon-essential-video-player-2:before { content: "\f269"; }
.flaticon-essential-view:before { content: "\f26a"; }
.flaticon-essential-view-1:before { content: "\f26b"; }
.flaticon-essential-view-2:before { content: "\f26c"; }
.flaticon-essential-volume-control:before { content: "\f26d"; }
.flaticon-essential-volume-control-1:before { content: "\f26e"; }
.flaticon-essential-warning:before { content: "\f26f"; }
.flaticon-essential-wifi:before { content: "\f270"; }
.flaticon-essential-wifi-1:before { content: "\f271"; }
.flaticon-essential-windows:before { content: "\f272"; }
.flaticon-essential-windows-1:before { content: "\f273"; }
.flaticon-essential-windows-2:before { content: "\f274"; }
.flaticon-essential-windows-3:before { content: "\f275"; }
.flaticon-essential-windows-4:before { content: "\f276"; }
.flaticon-essential-wireless-internet:before { content: "\f277"; }
.flaticon-essential-worldwide:before { content: "\f278"; }
.flaticon-essential-worldwide-1:before { content: "\f279"; }
.flaticon-essential-zoom-in:before { content: "\f27a"; }
.flaticon-essential-zoom-out:before { content: "\f27b"; }


@font-face {
  font-family: "FlaticonDialogue";
  src: url("/fonts/dialogue-set/font/Flaticon.eot");
  src: url("/fonts/dialogue-set/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/dialogue-set/font/Flaticon.woff") format("woff"),
       url("/fonts/dialogue-set/font/Flaticon.ttf") format("truetype"),
       url("/fonts/dialogue-set/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="flaticon-dialogue"]:before, [class*=" flaticon-dialogue"]:before,
[class^="flaticon-dialogue"]:after, [class*=" flaticon-dialogue"]:after {   
  font-family: FlaticonDialogue;
font-style: normal;
}

.flaticon-dialogue-archive:before { content: "\f100"; }
.flaticon-dialogue-archive-1:before { content: "\f101"; }
.flaticon-dialogue-archive-2:before { content: "\f102"; }
.flaticon-dialogue-archive-3:before { content: "\f103"; }
.flaticon-dialogue-chat:before { content: "\f104"; }
.flaticon-dialogue-chat-1:before { content: "\f105"; }
.flaticon-dialogue-chat-10:before { content: "\f106"; }
.flaticon-dialogue-chat-11:before { content: "\f107"; }
.flaticon-dialogue-chat-12:before { content: "\f108"; }
.flaticon-dialogue-chat-13:before { content: "\f109"; }
.flaticon-dialogue-chat-14:before { content: "\f10a"; }
.flaticon-dialogue-chat-15:before { content: "\f10b"; }
.flaticon-dialogue-chat-16:before { content: "\f10c"; }
.flaticon-dialogue-chat-17:before { content: "\f10d"; }
.flaticon-dialogue-chat-18:before { content: "\f10e"; }
.flaticon-dialogue-chat-19:before { content: "\f10f"; }
.flaticon-dialogue-chat-2:before { content: "\f110"; }
.flaticon-dialogue-chat-20:before { content: "\f111"; }
.flaticon-dialogue-chat-21:before { content: "\f112"; }
.flaticon-dialogue-chat-22:before { content: "\f113"; }
.flaticon-dialogue-chat-23:before { content: "\f114"; }
.flaticon-dialogue-chat-24:before { content: "\f115"; }
.flaticon-dialogue-chat-25:before { content: "\f116"; }
.flaticon-dialogue-chat-26:before { content: "\f117"; }
.flaticon-dialogue-chat-27:before { content: "\f118"; }
.flaticon-dialogue-chat-28:before { content: "\f119"; }
.flaticon-dialogue-chat-29:before { content: "\f11a"; }
.flaticon-dialogue-chat-3:before { content: "\f11b"; }
.flaticon-dialogue-chat-30:before { content: "\f11c"; }
.flaticon-dialogue-chat-31:before { content: "\f11d"; }
.flaticon-dialogue-chat-32:before { content: "\f11e"; }
.flaticon-dialogue-chat-33:before { content: "\f11f"; }
.flaticon-dialogue-chat-34:before { content: "\f120"; }
.flaticon-dialogue-chat-35:before { content: "\f121"; }
.flaticon-dialogue-chat-36:before { content: "\f122"; }
.flaticon-dialogue-chat-37:before { content: "\f123"; }
.flaticon-dialogue-chat-38:before { content: "\f124"; }
.flaticon-dialogue-chat-39:before { content: "\f125"; }
.flaticon-dialogue-chat-4:before { content: "\f126"; }
.flaticon-dialogue-chat-40:before { content: "\f127"; }
.flaticon-dialogue-chat-41:before { content: "\f128"; }
.flaticon-dialogue-chat-42:before { content: "\f129"; }
.flaticon-dialogue-chat-43:before { content: "\f12a"; }
.flaticon-dialogue-chat-44:before { content: "\f12b"; }
.flaticon-dialogue-chat-45:before { content: "\f12c"; }
.flaticon-dialogue-chat-46:before { content: "\f12d"; }
.flaticon-dialogue-chat-47:before { content: "\f12e"; }
.flaticon-dialogue-chat-48:before { content: "\f12f"; }
.flaticon-dialogue-chat-49:before { content: "\f130"; }
.flaticon-dialogue-chat-5:before { content: "\f131"; }
.flaticon-dialogue-chat-50:before { content: "\f132"; }
.flaticon-dialogue-chat-51:before { content: "\f133"; }
.flaticon-dialogue-chat-52:before { content: "\f134"; }
.flaticon-dialogue-chat-53:before { content: "\f135"; }
.flaticon-dialogue-chat-54:before { content: "\f136"; }
.flaticon-dialogue-chat-6:before { content: "\f137"; }
.flaticon-dialogue-chat-7:before { content: "\f138"; }
.flaticon-dialogue-chat-8:before { content: "\f139"; }
.flaticon-dialogue-chat-9:before { content: "\f13a"; }
.flaticon-dialogue-document:before { content: "\f13b"; }
.flaticon-dialogue-document-1:before { content: "\f13c"; }
.flaticon-dialogue-envelope:before { content: "\f13d"; }
.flaticon-dialogue-envelope-1:before { content: "\f13e"; }
.flaticon-dialogue-envelope-10:before { content: "\f13f"; }
.flaticon-dialogue-envelope-11:before { content: "\f140"; }
.flaticon-dialogue-envelope-12:before { content: "\f141"; }
.flaticon-dialogue-envelope-13:before { content: "\f142"; }
.flaticon-dialogue-envelope-2:before { content: "\f143"; }
.flaticon-dialogue-envelope-3:before { content: "\f144"; }
.flaticon-dialogue-envelope-4:before { content: "\f145"; }
.flaticon-dialogue-envelope-5:before { content: "\f146"; }
.flaticon-dialogue-envelope-6:before { content: "\f147"; }
.flaticon-dialogue-envelope-7:before { content: "\f148"; }
.flaticon-dialogue-envelope-8:before { content: "\f149"; }
.flaticon-dialogue-envelope-9:before { content: "\f14a"; }
.flaticon-dialogue-inbox:before { content: "\f14b"; }
.flaticon-dialogue-inbox-1:before { content: "\f14c"; }
.flaticon-dialogue-inbox-2:before { content: "\f14d"; }
.flaticon-dialogue-inbox-3:before { content: "\f14e"; }
.flaticon-dialogue-inbox-4:before { content: "\f14f"; }
.flaticon-dialogue-inbox-5:before { content: "\f150"; }
.flaticon-dialogue-letter:before { content: "\f151"; }
.flaticon-dialogue-mail:before { content: "\f152"; }
.flaticon-dialogue-mail-1:before { content: "\f153"; }
.flaticon-dialogue-mailbox:before { content: "\f154"; }
.flaticon-dialogue-messenger:before { content: "\f155"; }
.flaticon-dialogue-phone:before { content: "\f156"; }
.flaticon-dialogue-phone-1:before { content: "\f157"; }
.flaticon-dialogue-phone-2:before { content: "\f158"; }
.flaticon-dialogue-phone-3:before { content: "\f159"; }
.flaticon-dialogue-phone-4:before { content: "\f15a"; }
.flaticon-dialogue-phone-5:before { content: "\f15b"; }
.flaticon-dialogue-phone-6:before { content: "\f15c"; }
.flaticon-dialogue-phone-7:before { content: "\f15d"; }
.flaticon-dialogue-phone-8:before { content: "\f15e"; }
.flaticon-dialogue-phone-9:before { content: "\f15f"; }
.flaticon-dialogue-stamp:before { content: "\f160"; }
.flaticon-dialogue-stamp-1:before { content: "\f161"; }
.flaticon-dialogue-stamp-2:before { content: "\f162"; }
.flaticon-dialogue-whatsapp:before { content: "\f163"; }


@font-face {
  font-family: "FlaticonPin";
 src: url("/fonts/pin-set/font/Flaticon.eot");
  src: url("/fonts/pin-set/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/pin-set/font/Flaticon.woff") format("woff"),
       url("/fonts/pin-set/font/Flaticon.ttf") format("truetype"),
       url("/fonts/pin-set/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-pin-"]:before, [class*=" flaticon-pin-"]:before,
[class^="flaticon-pin-"]:after, [class*=" flaticon-pin-"]:after {   
  font-family: FlaticonPin;
font-style: normal;
}

.flaticon-pin-pin-compass:before { content: "\f100"; }
.flaticon-pin-pin-compass-1:before { content: "\f101"; }
.flaticon-pin-pin-map:before { content: "\f102"; }
.flaticon-pin-pin-map-1:before { content: "\f103"; }
.flaticon-pin-pin-map-10:before { content: "\f104"; }
.flaticon-pin-pin-map-11:before { content: "\f105"; }
.flaticon-pin-pin-map-12:before { content: "\f106"; }
.flaticon-pin-pin-map-13:before { content: "\f107"; }
.flaticon-pin-pin-map-14:before { content: "\f108"; }
.flaticon-pin-pin-map-15:before { content: "\f109"; }
.flaticon-pin-pin-map-16:before { content: "\f10a"; }
.flaticon-pin-pin-map-17:before { content: "\f10b"; }
.flaticon-pin-pin-map-18:before { content: "\f10c"; }
.flaticon-pin-pin-map-19:before { content: "\f10d"; }
.flaticon-pin-pin-map-2:before { content: "\f10e"; }
.flaticon-pin-pin-map-20:before { content: "\f10f"; }
.flaticon-pin-pin-map-21:before { content: "\f110"; }
.flaticon-pin-pin-map-22:before { content: "\f111"; }
.flaticon-pin-pin-map-23:before { content: "\f112"; }
.flaticon-pin-pin-map-24:before { content: "\f113"; }
.flaticon-pin-pin-map-25:before { content: "\f114"; }
.flaticon-pin-pin-map-26:before { content: "\f115"; }
.flaticon-pin-pin-map-27:before { content: "\f116"; }
.flaticon-pin-pin-map-28:before { content: "\f117"; }
.flaticon-pin-pin-map-29:before { content: "\f118"; }
.flaticon-pin-pin-map-3:before { content: "\f119"; }
.flaticon-pin-pin-map-30:before { content: "\f11a"; }
.flaticon-pin-pin-map-4:before { content: "\f11b"; }
.flaticon-pin-pin-map-5:before { content: "\f11c"; }
.flaticon-pin-pin-map-6:before { content: "\f11d"; }
.flaticon-pin-pin-map-7:before { content: "\f11e"; }
.flaticon-pin-pin-map-8:before { content: "\f11f"; }
.flaticon-pin-pin-map-9:before { content: "\f120"; }
.flaticon-pin-pin:before { content: "\f121"; }
.flaticon-pin-pin-1:before { content: "\f122"; }
.flaticon-pin-pin-10:before { content: "\f123"; }
.flaticon-pin-pin-11:before { content: "\f124"; }
.flaticon-pin-pin-12:before { content: "\f125"; }
.flaticon-pin-pin-13:before { content: "\f126"; }
.flaticon-pin-pin-14:before { content: "\f127"; }
.flaticon-pin-pin-15:before { content: "\f128"; }
.flaticon-pin-pin-16:before { content: "\f129"; }
.flaticon-pin-pin-17:before { content: "\f12a"; }
.flaticon-pin-pin-18:before { content: "\f12b"; }
.flaticon-pin-pin-19:before { content: "\f12c"; }
.flaticon-pin-pin-2:before { content: "\f12d"; }
.flaticon-pin-pin-20:before { content: "\f12e"; }
.flaticon-pin-pin-21:before { content: "\f12f"; }
.flaticon-pin-pin-22:before { content: "\f130"; }
.flaticon-pin-pin-23:before { content: "\f131"; }
.flaticon-pin-pin-24:before { content: "\f132"; }
.flaticon-pin-pin-25:before { content: "\f133"; }
.flaticon-pin-pin-26:before { content: "\f134"; }
.flaticon-pin-pin-27:before { content: "\f135"; }
.flaticon-pin-pin-28:before { content: "\f136"; }
.flaticon-pin-pin-29:before { content: "\f137"; }
.flaticon-pin-pin-3:before { content: "\f138"; }
.flaticon-pin-pin-30:before { content: "\f139"; }
.flaticon-pin-pin-31:before { content: "\f13a"; }
.flaticon-pin-pin-32:before { content: "\f13b"; }
.flaticon-pin-pin-33:before { content: "\f13c"; }
.flaticon-pin-pin-4:before { content: "\f13d"; }
.flaticon-pin-pin-5:before { content: "\f13e"; }
.flaticon-pin-pin-6:before { content: "\f13f"; }
.flaticon-pin-pin-7:before { content: "\f140"; }
.flaticon-pin-pin-8:before { content: "\f141"; }
.flaticon-pin-pin-9:before { content: "\f142"; }
.flaticon-pin-placeholder:before { content: "\f143"; }
.flaticon-pin-placeholder-1:before { content: "\f144"; }
.flaticon-pin-placeholder-10:before { content: "\f145"; }
.flaticon-pin-placeholder-11:before { content: "\f146"; }
.flaticon-pin-placeholder-12:before { content: "\f147"; }
.flaticon-pin-placeholder-13:before { content: "\f148"; }
.flaticon-pin-placeholder-14:before { content: "\f149"; }
.flaticon-pin-placeholder-15:before { content: "\f14a"; }
.flaticon-pin-placeholder-16:before { content: "\f14b"; }
.flaticon-pin-placeholder-17:before { content: "\f14c"; }
.flaticon-pin-placeholder-18:before { content: "\f14d"; }
.flaticon-pin-placeholder-19:before { content: "\f14e"; }
.flaticon-pin-placeholder-2:before { content: "\f14f"; }
.flaticon-pin-placeholder-20:before { content: "\f150"; }
.flaticon-pin-placeholder-21:before { content: "\f151"; }
.flaticon-pin-placeholder-22:before { content: "\f152"; }
.flaticon-pin-placeholder-23:before { content: "\f153"; }
.flaticon-pin-placeholder-24:before { content: "\f154"; }
.flaticon-pin-placeholder-25:before { content: "\f155"; }
.flaticon-pin-placeholder-26:before { content: "\f156"; }
.flaticon-pin-placeholder-27:before { content: "\f157"; }
.flaticon-pin-placeholder-28:before { content: "\f158"; }
.flaticon-pin-placeholder-29:before { content: "\f159"; }
.flaticon-pin-placeholder-3:before { content: "\f15a"; }
.flaticon-pin-placeholder-30:before { content: "\f15b"; }
.flaticon-pin-placeholder-4:before { content: "\f15c"; }
.flaticon-pin-placeholder-5:before { content: "\f15d"; }
.flaticon-pin-placeholder-6:before { content: "\f15e"; }
.flaticon-pin-placeholder-7:before { content: "\f15f"; }
.flaticon-pin-placeholder-8:before { content: "\f160"; }
.flaticon-pin-placeholder-9:before { content: "\f161"; }
.flaticon-pin-push-pin:before { content: "\f162"; }
.flaticon-pin-route:before { content: "\f163"; }


@font-face {
  font-family: "FlaticonConstruction";
  src: url("/fonts/construction-set/font/Flaticon.eot");
  src: url("/fonts/construction-set/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/construction-set/font/Flaticon.woff") format("woff"),
       url("/fonts/construction-set/font/Flaticon.ttf") format("truetype"),
       url("/fonts/construction-set/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="flaticon-construction"]:before, [class*=" flaticon-construction"]:before,
[class^="flaticon-construction"]:after, [class*=" flaticon-construction"]:after {   
  font-family: FlaticonConstruction;
font-style: normal;
}

.flaticon-construction-allen:before { content: "\f100"; }
.flaticon-construction-allen-1:before { content: "\f101"; }
.flaticon-construction-allen-2:before { content: "\f102"; }
.flaticon-construction-anvil:before { content: "\f103"; }
.flaticon-construction-axe:before { content: "\f104"; }
.flaticon-construction-barrier:before { content: "\f105"; }
.flaticon-construction-battery:before { content: "\f106"; }
.flaticon-construction-battery-1:before { content: "\f107"; }
.flaticon-construction-board:before { content: "\f108"; }
.flaticon-construction-brace:before { content: "\f109"; }
.flaticon-construction-brick-wall:before { content: "\f10a"; }
.flaticon-construction-brick-wall-1:before { content: "\f10b"; }
.flaticon-construction-brick-wall-2:before { content: "\f10c"; }
.flaticon-construction-brick-wall-3:before { content: "\f10d"; }
.flaticon-construction-bucket:before { content: "\f10e"; }
.flaticon-construction-bucket-1:before { content: "\f10f"; }
.flaticon-construction-caulk-gun:before { content: "\f110"; }
.flaticon-construction-chainsaw:before { content: "\f111"; }
.flaticon-construction-chisel:before { content: "\f112"; }
.flaticon-construction-concrete-mixer:before { content: "\f113"; }
.flaticon-construction-cone:before { content: "\f114"; }
.flaticon-construction-construction:before { content: "\f115"; }
.flaticon-construction-construction-1:before { content: "\f116"; }
.flaticon-construction-crane:before { content: "\f117"; }
.flaticon-construction-crane-1:before { content: "\f118"; }
.flaticon-construction-cutter:before { content: "\f119"; }
.flaticon-construction-door:before { content: "\f11a"; }
.flaticon-construction-door-1:before { content: "\f11b"; }
.flaticon-construction-door-2:before { content: "\f11c"; }
.flaticon-construction-door-3:before { content: "\f11d"; }
.flaticon-construction-drawing:before { content: "\f11e"; }
.flaticon-construction-drawing-1:before { content: "\f11f"; }
.flaticon-construction-drill:before { content: "\f120"; }
.flaticon-construction-drill-1:before { content: "\f121"; }
.flaticon-construction-drill-2:before { content: "\f122"; }
.flaticon-construction-drill-3:before { content: "\f123"; }
.flaticon-construction-electric-tower:before { content: "\f124"; }
.flaticon-construction-electric-tower-1:before { content: "\f125"; }
.flaticon-construction-electricity:before { content: "\f126"; }
.flaticon-construction-engineer:before { content: "\f127"; }
.flaticon-construction-eolic-energy:before { content: "\f128"; }
.flaticon-construction-flash:before { content: "\f129"; }
.flaticon-construction-flashlight:before { content: "\f12a"; }
.flaticon-construction-garage:before { content: "\f12b"; }
.flaticon-construction-gas-pipe:before { content: "\f12c"; }
.flaticon-construction-gas-pipe-1:before { content: "\f12d"; }
.flaticon-construction-gas-pipe-2:before { content: "\f12e"; }
.flaticon-construction-gas-pipe-3:before { content: "\f12f"; }
.flaticon-construction-gas-pipe-4:before { content: "\f130"; }
.flaticon-construction-gas-pipe-5:before { content: "\f131"; }
.flaticon-construction-gas-pipe-6:before { content: "\f132"; }
.flaticon-construction-gas-pipe-7:before { content: "\f133"; }
.flaticon-construction-gas-pipe-8:before { content: "\f134"; }
.flaticon-construction-glass-wall:before { content: "\f135"; }
.flaticon-construction-hammer:before { content: "\f136"; }
.flaticon-construction-hammer-1:before { content: "\f137"; }
.flaticon-construction-hammer-2:before { content: "\f138"; }
.flaticon-construction-hammer-3:before { content: "\f139"; }
.flaticon-construction-hammer-4:before { content: "\f13a"; }
.flaticon-construction-hammer-5:before { content: "\f13b"; }
.flaticon-construction-helmet:before { content: "\f13c"; }
.flaticon-construction-hook:before { content: "\f13d"; }
.flaticon-construction-hydrant:before { content: "\f13e"; }
.flaticon-construction-jackhammer:before { content: "\f13f"; }
.flaticon-construction-jigsaw:before { content: "\f140"; }
.flaticon-construction-knife:before { content: "\f141"; }
.flaticon-construction-ladder:before { content: "\f142"; }
.flaticon-construction-ladder-1:before { content: "\f143"; }
.flaticon-construction-ladder-2:before { content: "\f144"; }
.flaticon-construction-ladder-3:before { content: "\f145"; }
.flaticon-construction-ladder-4:before { content: "\f146"; }
.flaticon-construction-level:before { content: "\f147"; }
.flaticon-construction-light-bulb:before { content: "\f148"; }
.flaticon-construction-light-bulb-1:before { content: "\f149"; }
.flaticon-construction-light-bulb-10:before { content: "\f14a"; }
.flaticon-construction-light-bulb-11:before { content: "\f14b"; }
.flaticon-construction-light-bulb-12:before { content: "\f14c"; }
.flaticon-construction-light-bulb-13:before { content: "\f14d"; }
.flaticon-construction-light-bulb-2:before { content: "\f14e"; }
.flaticon-construction-light-bulb-3:before { content: "\f14f"; }
.flaticon-construction-light-bulb-4:before { content: "\f150"; }
.flaticon-construction-light-bulb-5:before { content: "\f151"; }
.flaticon-construction-light-bulb-6:before { content: "\f152"; }
.flaticon-construction-light-bulb-7:before { content: "\f153"; }
.flaticon-construction-light-bulb-8:before { content: "\f154"; }
.flaticon-construction-light-bulb-9:before { content: "\f155"; }
.flaticon-construction-loader:before { content: "\f156"; }
.flaticon-construction-log:before { content: "\f157"; }
.flaticon-construction-log-1:before { content: "\f158"; }
.flaticon-construction-log-2:before { content: "\f159"; }
.flaticon-construction-measuring-tape:before { content: "\f15a"; }
.flaticon-construction-nail:before { content: "\f15b"; }
.flaticon-construction-nail-gun:before { content: "\f15c"; }
.flaticon-construction-nails:before { content: "\f15d"; }
.flaticon-construction-nails-1:before { content: "\f15e"; }
.flaticon-construction-paint-brush:before { content: "\f15f"; }
.flaticon-construction-paint-brush-1:before { content: "\f160"; }
.flaticon-construction-paint-brush-10:before { content: "\f161"; }
.flaticon-construction-paint-brush-11:before { content: "\f162"; }
.flaticon-construction-paint-brush-12:before { content: "\f163"; }
.flaticon-construction-paint-brush-2:before { content: "\f164"; }
.flaticon-construction-paint-brush-3:before { content: "\f165"; }
.flaticon-construction-paint-brush-4:before { content: "\f166"; }
.flaticon-construction-paint-brush-5:before { content: "\f167"; }
.flaticon-construction-paint-brush-6:before { content: "\f168"; }
.flaticon-construction-paint-brush-7:before { content: "\f169"; }
.flaticon-construction-paint-brush-8:before { content: "\f16a"; }
.flaticon-construction-paint-brush-9:before { content: "\f16b"; }
.flaticon-construction-paint-roller:before { content: "\f16c"; }
.flaticon-construction-paint-roller-1:before { content: "\f16d"; }
.flaticon-construction-paint-roller-2:before { content: "\f16e"; }
.flaticon-construction-pantone:before { content: "\f16f"; }
.flaticon-construction-parquet:before { content: "\f170"; }
.flaticon-construction-parquet-1:before { content: "\f171"; }
.flaticon-construction-pipe:before { content: "\f172"; }
.flaticon-construction-pipe-1:before { content: "\f173"; }
.flaticon-construction-pipe-10:before { content: "\f174"; }
.flaticon-construction-pipe-11:before { content: "\f175"; }
.flaticon-construction-pipe-2:before { content: "\f176"; }
.flaticon-construction-pipe-3:before { content: "\f177"; }
.flaticon-construction-pipe-4:before { content: "\f178"; }
.flaticon-construction-pipe-5:before { content: "\f179"; }
.flaticon-construction-pipe-6:before { content: "\f17a"; }
.flaticon-construction-pipe-7:before { content: "\f17b"; }
.flaticon-construction-pipe-8:before { content: "\f17c"; }
.flaticon-construction-pipe-9:before { content: "\f17d"; }
.flaticon-construction-plier:before { content: "\f17e"; }
.flaticon-construction-plier-1:before { content: "\f17f"; }
.flaticon-construction-plier-2:before { content: "\f180"; }
.flaticon-construction-plier-3:before { content: "\f181"; }
.flaticon-construction-plier-4:before { content: "\f182"; }
.flaticon-construction-plug:before { content: "\f183"; }
.flaticon-construction-plug-1:before { content: "\f184"; }
.flaticon-construction-plug-2:before { content: "\f185"; }
.flaticon-construction-plug-3:before { content: "\f186"; }
.flaticon-construction-plug-4:before { content: "\f187"; }
.flaticon-construction-plug-5:before { content: "\f188"; }
.flaticon-construction-plumbering:before { content: "\f189"; }
.flaticon-construction-plumbering-1:before { content: "\f18a"; }
.flaticon-construction-rake:before { content: "\f18b"; }
.flaticon-construction-rake-1:before { content: "\f18c"; }
.flaticon-construction-rake-2:before { content: "\f18d"; }
.flaticon-construction-relief-valve:before { content: "\f18e"; }
.flaticon-construction-relief-valve-1:before { content: "\f18f"; }
.flaticon-construction-relief-valve-2:before { content: "\f190"; }
.flaticon-construction-roof:before { content: "\f191"; }
.flaticon-construction-ruler:before { content: "\f192"; }
.flaticon-construction-ruler-1:before { content: "\f193"; }
.flaticon-construction-ruler-2:before { content: "\f194"; }
.flaticon-construction-ruler-3:before { content: "\f195"; }
.flaticon-construction-ruler-4:before { content: "\f196"; }
.flaticon-construction-ruler-5:before { content: "\f197"; }
.flaticon-construction-saw:before { content: "\f198"; }
.flaticon-construction-saw-1:before { content: "\f199"; }
.flaticon-construction-saw-2:before { content: "\f19a"; }
.flaticon-construction-saw-3:before { content: "\f19b"; }
.flaticon-construction-saw-4:before { content: "\f19c"; }
.flaticon-construction-saw-5:before { content: "\f19d"; }
.flaticon-construction-screw:before { content: "\f19e"; }
.flaticon-construction-screw-1:before { content: "\f19f"; }
.flaticon-construction-screw-2:before { content: "\f1a0"; }
.flaticon-construction-screw-3:before { content: "\f1a1"; }
.flaticon-construction-screw-4:before { content: "\f1a2"; }
.flaticon-construction-screw-5:before { content: "\f1a3"; }
.flaticon-construction-screwdriver:before { content: "\f1a4"; }
.flaticon-construction-screwdriver-1:before { content: "\f1a5"; }
.flaticon-construction-screwdriver-2:before { content: "\f1a6"; }
.flaticon-construction-screwdriver-3:before { content: "\f1a7"; }
.flaticon-construction-screwdriver-4:before { content: "\f1a8"; }
.flaticon-construction-screwdriver-5:before { content: "\f1a9"; }
.flaticon-construction-screws:before { content: "\f1aa"; }
.flaticon-construction-screws-1:before { content: "\f1ab"; }
.flaticon-construction-scythe:before { content: "\f1ac"; }
.flaticon-construction-shovel:before { content: "\f1ad"; }
.flaticon-construction-shovel-1:before { content: "\f1ae"; }
.flaticon-construction-shovel-2:before { content: "\f1af"; }
.flaticon-construction-shovel-3:before { content: "\f1b0"; }
.flaticon-construction-shovel-4:before { content: "\f1b1"; }
.flaticon-construction-socket:before { content: "\f1b2"; }
.flaticon-construction-socket-1:before { content: "\f1b3"; }
.flaticon-construction-socket-10:before { content: "\f1b4"; }
.flaticon-construction-socket-11:before { content: "\f1b5"; }
.flaticon-construction-socket-12:before { content: "\f1b6"; }
.flaticon-construction-socket-13:before { content: "\f1b7"; }
.flaticon-construction-socket-14:before { content: "\f1b8"; }
.flaticon-construction-socket-15:before { content: "\f1b9"; }
.flaticon-construction-socket-16:before { content: "\f1ba"; }
.flaticon-construction-socket-17:before { content: "\f1bb"; }
.flaticon-construction-socket-18:before { content: "\f1bc"; }
.flaticon-construction-socket-19:before { content: "\f1bd"; }
.flaticon-construction-socket-2:before { content: "\f1be"; }
.flaticon-construction-socket-3:before { content: "\f1bf"; }
.flaticon-construction-socket-4:before { content: "\f1c0"; }
.flaticon-construction-socket-5:before { content: "\f1c1"; }
.flaticon-construction-socket-6:before { content: "\f1c2"; }
.flaticon-construction-socket-7:before { content: "\f1c3"; }
.flaticon-construction-socket-8:before { content: "\f1c4"; }
.flaticon-construction-socket-9:before { content: "\f1c5"; }
.flaticon-construction-spray:before { content: "\f1c6"; }
.flaticon-construction-spray-gun:before { content: "\f1c7"; }
.flaticon-construction-swiss-army-knife:before { content: "\f1c8"; }
.flaticon-construction-swiss-army-knife-1:before { content: "\f1c9"; }
.flaticon-construction-swiss-army-knife-2:before { content: "\f1ca"; }
.flaticon-construction-swiss-army-knife-3:before { content: "\f1cb"; }
.flaticon-construction-swiss-army-knife-4:before { content: "\f1cc"; }
.flaticon-construction-swiss-army-knife-5:before { content: "\f1cd"; }
.flaticon-construction-switch:before { content: "\f1ce"; }
.flaticon-construction-switch-1:before { content: "\f1cf"; }
.flaticon-construction-switch-2:before { content: "\f1d0"; }
.flaticon-construction-switch-3:before { content: "\f1d1"; }
.flaticon-construction-switch-4:before { content: "\f1d2"; }
.flaticon-construction-switch-5:before { content: "\f1d3"; }
.flaticon-construction-switch-6:before { content: "\f1d4"; }
.flaticon-construction-switch-7:before { content: "\f1d5"; }
.flaticon-construction-tap:before { content: "\f1d6"; }
.flaticon-construction-tap-1:before { content: "\f1d7"; }
.flaticon-construction-tap-2:before { content: "\f1d8"; }
.flaticon-construction-tiles:before { content: "\f1d9"; }
.flaticon-construction-toolbox:before { content: "\f1da"; }
.flaticon-construction-toolbox-1:before { content: "\f1db"; }
.flaticon-construction-tools:before { content: "\f1dc"; }
.flaticon-construction-tools-1:before { content: "\f1dd"; }
.flaticon-construction-tools-2:before { content: "\f1de"; }
.flaticon-construction-tools-3:before { content: "\f1df"; }
.flaticon-construction-trowel:before { content: "\f1e0"; }
.flaticon-construction-trowel-1:before { content: "\f1e1"; }
.flaticon-construction-trowel-2:before { content: "\f1e2"; }
.flaticon-construction-trowel-3:before { content: "\f1e3"; }
.flaticon-construction-trowel-4:before { content: "\f1e4"; }
.flaticon-construction-vest:before { content: "\f1e5"; }
.flaticon-construction-vise:before { content: "\f1e6"; }
.flaticon-construction-vise-1:before { content: "\f1e7"; }
.flaticon-construction-vise-2:before { content: "\f1e8"; }
.flaticon-construction-vise-3:before { content: "\f1e9"; }
.flaticon-construction-vise-4:before { content: "\f1ea"; }
.flaticon-construction-voltmeter:before { content: "\f1eb"; }
.flaticon-construction-voltmeter-1:before { content: "\f1ec"; }
.flaticon-construction-voltmeter-2:before { content: "\f1ed"; }
.flaticon-construction-voltmeter-3:before { content: "\f1ee"; }
.flaticon-construction-wall-plug:before { content: "\f1ef"; }
.flaticon-construction-wallpaper:before { content: "\f1f0"; }
.flaticon-construction-wheelbarrow:before { content: "\f1f1"; }
.flaticon-construction-window:before { content: "\f1f2"; }
.flaticon-construction-window-1:before { content: "\f1f3"; }
.flaticon-construction-window-2:before { content: "\f1f4"; }
.flaticon-construction-window-3:before { content: "\f1f5"; }
.flaticon-construction-window-4:before { content: "\f1f6"; }
.flaticon-construction-wood:before { content: "\f1f7"; }
.flaticon-construction-wood-1:before { content: "\f1f8"; }
.flaticon-construction-woodcutter:before { content: "\f1f9"; }
.flaticon-construction-wrench:before { content: "\f1fa"; }
.flaticon-construction-wrench-1:before { content: "\f1fb"; }
.flaticon-construction-wrench-2:before { content: "\f1fc"; }
.flaticon-construction-wrench-3:before { content: "\f1fd"; }
.flaticon-construction-wrench-4:before { content: "\f1fe"; }
.flaticon-construction-wrench-5:before { content: "\f1ff"; }
.flaticon-construction-wrench-6:before { content: "\f200"; }
.flaticon-construction-wrench-7:before { content: "\f201"; }
.flaticon-construction-wrench-8:before { content: "\f202"; }
.flaticon-construction-wrench-9:before { content: "\f203"; }