
// Body
$body-bg: #fff;
$bg-color: #161b1f;
$bg_url: '/img/background/concrete_seamless.png';

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$primaryColor: #1d107a;
$primaryColor100: #9FA8DA;
$primaryColor200: #3F51B5;
$primaryColor300: #303F9F;
$primaryColor400: #0C0444;

$secondaryColor: #0A3873;
$secondaryColor100: #315F9B;
$secondaryColor200: #15498C;
$secondaryColor300: #34055F;
$secondaryColor400: #021D40;

$tertiaryColor: #410876;
$tertiaryColor100: #6A319F;
$tertiaryColor200: #551490;
$tertiaryColor300: #34055F;
$tertiaryColor400: #230242;

$transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);

$box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

$bs-sm: 768px;
$bs-md: 992px;
$bs-lg: 1200px;
